strong {
	font-weight: bold;
}

header {
	text-align: center;
}

h1 {
	font-size: 32px;
	margin: 20px 0;
}

h2 {
	margin: 20px;
	font-size: 24px;
}

ol {
	margin: 20px;
	margin-left: 80px;
	margin-right: 10%;
	margin-bottom: 50px;
	list-style-type: upper-roman;
	line-height: 1.4;
}

p {
	margin: 20px;
	margin-left: 40px;
	line-height: 1.4;
}

* {
	background-color: #FFF1F8;
}